<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
    <link href="/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/global.css">

    <title>Shaun</title>
</head>

<body>
    <nav class="z-depth-1 white">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo grey-text text-darken-2">Shaun</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html" class="grey-text text-darken-2">Sass</a></li>
                <li><a href="badges.html" class="grey-text text-darken-2">Components</a></li>
                <li><a href="collapsible.html" class="grey-text text-darken-2">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/image.min.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>
</body>

</html>