<p>
    <input placeholder="Title" id="post_title" type="text" class="validate">
</p>
<textarea id="editor" placeholder="Balabala" autofocus></textarea>
<p>
    <input placeholder="Tags: life, work, art etc" id="post_tags" type="text" class="validate">
</p>
<button class="btn waves-effect waves-light white black-text" type="submit" name="action" id="submit">Submit
    <i class="material-icons right">send</i>
</button>

<span id="error_text" class="error" style="display:hidden;"></span>