<div class="row" style="padding-top:20px">
    <div class="input-field col s12 m6">
        <input placeholder="Enter Password" id="password-protected" type="text" class="validate">
        <label for="password-protected">Password</label>
    </div>
    <div class="col s12 m6">
        <button class="btn waves-effect waves-light" type="submit" name="action" id="submit-password-protected">Enter
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
{{#if hint}}
<div class="row">
    <small>Hint: {{hint}}</small>
</div>
{{/if}}