.post {
    border-bottom: 1px solid #6B6B6B;
}

#editor {
    height: 375px;
}

.error {
    color: red;
}

#error_text {
    margin-top: 5px;
}

.about-me-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.post-tags {
    font-size: 12px;
}

.fr-wrapper>div[style*='z-index: 9999'] {
    display: none;
}